body {
    background: #222;
}
.wrapper {
    min-height: 100vh;
    overflow-y: auto;
    grid-template-rows: auto 1fr;
}
.btn {
    min-width: 180px;
    padding: 18px 30px;
    background: rgb(241, 112, 134);
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}